
@{
    ViewBag.Title = "About";
}

<h2>About AJAX Feature</h2>

<p>The Ajax feature implemented in this project is akin to the filtering feature implemented in the Adam Freeman textbook.</p>

<p>
The filtering feature attempts to maintain the look of the grid content and the CRUD functionality despite having to recreate it all with a large JavaScript function. 
While the Ajax filtering is more aesthetically pleasing given the lack of having to reload the page, the implementation felt clunky largely due to having to recreate 
an HTML structure with Javascript while maintaining dynamic link creation for the CRUD functions.    
</p>