@using RoofDBApp.Models
@model string

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "grid-container", // when JS enabled
        Url = Url.Action("GetCustomerData"),  // when JS is not enabled
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnSuccess = "processData"
    };
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/loadNewData.js"></script>

<div class="jumbotron">
    <h1>Customer Database</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("GetCustomerData", ajaxOptions))
{
    <p>
        Status: @Html.DropDownList("status", "all")
        <button type="submit">Submit</button>
    </p>
}

<div id="loading" class="load" style="display:none">
    <p>Loading filtered data...</p>
</div>

<div class="grid-container" id="grid-container">
    @Html.Action("GetCustomerData", new { status = Model })
</div>