@model RoofDBApp.Models.CustomerViewModel

@{
    ViewBag.Title = "Quote Summary";
}

<h2>Quote</h2>

<p>Your current active quotes have a value of <text>@String.Format("{0:c}", ViewBag.Quote)</text></p>


